Config { font = "xft:Ubuntu Mono:weight=bold:pixelsize=16:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 190 
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [Run Cpu ["-t", "Cpu: <total>%"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run DiskU [("/", "<used>/<size>")][] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%A%_d %B %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<fc=#0996E1>%cpu%</fc> |\
                   \ <fc=#E5EC0C>%memory%</fc> |\
                   \ <fc=#D31300>%disku%</fc> |\
                   \ <fc=#75e847>%date%</fc> |\
                   \ jest zajebiscie \
                   \}{ %uname% "
       }
       
