Config { font = "xft:Ubuntu Mono:weight=bold:pixelsize=15:antialias=true:hinting=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 190 
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [Run Cpu ["-t", "<total>%"] 10
                    , Run Memory ["-t","<usedratio>%"] 10
                    , Run DiskU [("/", "<used>")][] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%A %d %B %Y %H:%M:%S" "date" 10
                    , Run PipeReader "/home/mcnuggetsx20/.vol" "vol" 
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<fc=#0996E1>%cpu%</fc> |\
                   \ <fc=#E5EC0C>%memory%</fc> |\
                   \ <fc=#D31300>%disku%</fc> \
                   \ }{ %vol%|\
                   \ <fc=#75e847>%date%</fc>"
       }
       
