/* Copyright 2009, 2015 Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */
stage {
  font-size: 1em;
  color: #babaab;
}

.button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  border-radius: 2px;
}

.hotplug-notification-item, .notification-banner .notification-button,
.notification-banner:hover .notification-button,
.notification-banner:focus .notification-button, .button {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #babaab;
  background-color: #08111C;
  border: 1px solid #08111C;
  box-shadow: inset 0 1px rgba(8, 17, 28, 0.05);
}
.hotplug-notification-item:focus, .notification-banner .notification-button:focus, .button:focus {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #babaab;
  background-color: #08111C;
  border: 1px solid #b0b0b0;
  box-shadow: inset 0 1px rgba(8, 17, 28, 0.05);
}
.hotplug-notification-item:hover, .notification-banner .notification-button:hover, .button:hover {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #babaab;
  background-color: #0e1d30;
  border: 1px solid #08111C;
  box-shadow: inset 0 1px rgba(14, 29, 48, 0.05);
}
.hotplug-notification-item:hover:focus, .notification-banner .notification-button:hover:focus, .button:hover:focus {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #babaab;
  background-color: #08111C;
  border: 1px solid #b0b0b0;
  box-shadow: inset 0 1px rgba(8, 17, 28, 0.05);
}
.hotplug-notification-item:active, .notification-banner .notification-button:active, .button:active {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #141414;
  background-color: #b0b0b0;
  border: 1px solid #08111C;
  box-shadow: inset 0 1px rgba(176, 176, 176, 0.05);
}
.hotplug-notification-item:insensitive, .notification-banner .notification-button:insensitive, .button:insensitive {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: rgba(186, 186, 171, 0.45);
  border: 1px solid rgba(8, 17, 28, 0.55);
  background-color: rgba(8, 17, 28, 0.55);
  box-shadow: inset 0 1px rgba(8, 17, 28, 0.05);
}

StEntry {
  padding: 7px;
  caret-size: 1px;
  caret-color: #141414;
  selection-background-color: #ebebeb;
  selected-color: #141414;
  transition-duration: 300ms;
  border-radius: 3px;
  color: rgba(186, 186, 171, 0.52);
  background-color: #102238;
  border: 1px solid #0d1b2c;
  box-shadow: inset 0 2px 4px rgba(16, 34, 56, 0.05);
}
StEntry:hover .hint-text {
  color: rgba(186, 186, 171, 0.72);
}
StEntry:focus {
  color: #141414;
  background-color: #b0b0b0;
  border: 1px solid #0d1b2c;
  box-shadow: inset 0 2px 4px rgba(16, 34, 56, 0.05);
}
StEntry:focus .hint-text {
  color: #141414;
  margin-left: 14px;
}
StEntry:insensitive {
  color: rgba(186, 186, 171, 0.45);
  background-color: #0c1a2b;
  border-color: 1px solid #0b1725;
  box-shadow: inset 0 2px 4px rgba(12, 26, 43, 0.05);
}
StEntry StIcon.capslock-warning {
  icon-size: 16px;
  warning-color: #F27835;
  padding: 0 4px;
}
StEntry StLabel.hint-text {
  margin-left: 2px;
  color: rgba(186, 186, 171, 0.52);
}

StScrollView.vfade {
  -st-vfade-offset: 0px;
}
StScrollView.hfade {
  -st-hfade-offset: 0px;
}

StScrollBar {
  padding: 8px;
}
StScrollView StScrollBar {
  min-width: 5px;
  min-height: 5px;
}
StScrollBar StBin#trough {
  background-color: rgba(8, 17, 28, 0.1);
  border-radius: 8px;
}
StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
  border-radius: 4px;
  background-color: #4f5555;
  border: 0px solid;
  margin: 0px;
}
StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover {
  background-color: #3d4447;
}
StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active {
  background-color: #b0b0b0;
}

.slider {
  -barlevel-height: 4px;
  -barlevel-background-color: #08111C;
  -barlevel-border-color: rgba(0, 0, 0, 0);
  -barlevel-active-background-color: #b0b0b0;
  -barlevel-active-border-color: rgba(0, 0, 0, 0);
  -barlevel-border-width: 0px;
  -slider-height: 4px;
  -slider-background-color: #08111C;
  -slider-border-color: rgba(0, 0, 0, 0);
  -slider-active-background-color: #b0b0b0;
  -slider-active-border-color: rgba(0, 0, 0, 0);
  -slider-border-width: 0;
  -slider-handle-radius: 0px;
  -slider-handle-border-color: #141414;
  height: 18px;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
  color: #ffffff;
}
.slider:hover {
  color: #b0b0b0;
  -slider-handle-radius: 2px;
}
.slider:active {
  color: #b0b0b0;
  -slider-handle-radius: 2px;
}
.popup-menu-item.selected .slider {
  -slider-background-color: #08111C;
  -slider-active-background-color: #b0b0b0;
  -slider-handle-radius: 2px;
}

.check-box StBoxLayout {
  spacing: 0.8em;
}
.check-box StBin {
  width: 16px;
  height: 16px;
  background-image: url("dark-assets/checkbox/checkbox-unchecked.svg");
}
.check-box:focus StBin {
  background-image: url("dark-assets/checkbox/checkbox-unchecked-focused.svg");
}
.check-box:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked.svg");
}
.check-box:focus:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked-focused.svg");
}

.toggle-switch {
  width: 54px;
  height: 24px;
  background-size: contain;
  background-image: url("dark-assets/switch/switch-off.svg");
}
.toggle-switch:checked {
  background-image: url("dark-assets/switch/switch-on.svg");
}
.popup-menu-item.selected .toggle-switch {
  background-image: url("common-assets/switch/switch-off-selected.svg");
}
.popup-menu-item.selected .toggle-switch:checked {
  background-image: url("common-assets/switch/switch-on-selected.svg");
}

.shell-link {
  color: #e3e3e3;
}
.shell-link:hover {
  color: #fdfdfd;
}

.headline {
  font-size: 110%;
}

.lightbox {
  background-color: black;
}

.flashspot {
  background-color: white;
}

.modal-dialog {
  color: #babaab;
  background-color: #08111c;
  border: none;
  padding: 0;
}
.modal-dialog .modal-dialog-content-box {
  padding: 20px 10px 10px 10px;
}
.modal-dialog-linked-button {
  height: 38px;
  padding: 0;
  box-shadow: inset 0 0 black;
  border-top-width: 1px;
  border-bottom-width: 0;
  color: #b0b0b0;
  background-color: rgba(8, 17, 28, 0.95);
  border-color: rgba(7, 15, 24, 0.95);
}
.modal-dialog-linked-button:hover {
  background-color: rgba(14, 29, 48, 0.95);
}
.modal-dialog-linked-button:focus {
  color: #b0b0b0;
}
.modal-dialog-linked-button:active {
  color: #141414;
  background-color: #b0b0b0;
}
.modal-dialog-linked-button:insensitive {
  color: rgba(176, 176, 176, 0.5);
  background-color: rgba(6, 12, 20, 0.95);
}
.modal-dialog-linked-button:first-child {
  border-radius: 0px 0px 0px 2px;
}
.modal-dialog-linked-button:last-child {
  border-right-width: 0px;
  border-radius: 0px 0px 2px 0px;
}
.modal-dialog-linked-button:first-child:last-child {
  border-right-width: 0px;
  border-radius: 0px 0px 2px 2px;
}
.modal-dialog .run-dialog-entry {
  width: 21em;
}
.modal-dialog .run-dialog-error-box {
  padding-top: 5px;
  spacing: 5px;
}
.modal-dialog .run-dialog-label {
  font-size: 0;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
  font-size: 11pt;
  font-weight: bold;
  color: #babaab;
}

.run-dialog .modal-dialog-content-box {
  margin-top: 24px;
  margin-bottom: 14px;
}
.run-dialog .run-dialog-entry {
  color: rgba(186, 186, 171, 0.52);
  background-color: #102238;
  border: 1px solid #0d1b2c;
  box-shadow: inset 0 2px 4px rgba(16, 34, 56, 0.05);
  width: 20em;
  padding: 5px 9px;
  caret-size: 1px;
  caret-color: #141414;
  selection-background-color: #ebebeb;
  selected-color: #141414;
  transition-duration: 300ms;
  border-radius: 20px;
  min-height: 1.4em;
}
.run-dialog .run-dialog-entry:hover, .run-dialog .run-dialog-entry:focus {
  color: #141414;
  caret-color: #141414;
  background-color: #b0b0b0;
  selection-background-color: #ebebeb;
  selected-color: #141414;
}
.run-dialog .run-dialog-description {
  text-align: center;
  color: #babaab;
}

.end-session-dialog {
  spacing: 42px;
}
.end-session-dialog-list {
  padding-top: 20px;
}
.end-session-dialog-layout {
  padding-left: 17px;
}
.end-session-dialog-layout:rtl {
  padding-right: 17px;
}
.end-session-dialog-description {
  width: 28em;
  padding-bottom: 10px;
}
.end-session-dialog-description:rtl {
  text-align: right;
}
.end-session-dialog-warning {
  width: 28em;
  color: #F27835;
  padding-top: 6px;
}
.end-session-dialog-warning:rtl {
  text-align: right;
}
.end-session-dialog-logout-icon {
  border: 0px solid transparent;
  border-radius: 2px;
  width: 48px;
  height: 48px;
  background-size: contain;
}
.end-session-dialog-shutdown-icon {
  color: #babaab;
  width: 48px;
  height: 48px;
}
.end-session-dialog-inhibitor-layout {
  spacing: 16px;
  max-height: 200px;
  padding-right: 10px;
  padding-left: 10px;
}
.end-session-dialog-session-list, .end-session-dialog-app-list {
  spacing: 1em;
}
.end-session-dialog-list-header {
  font-weight: bold;
}
.end-session-dialog-list-header:rtl {
  text-align: right;
}
.end-session-dialog-app-list-item, .end-session-dialog-session-list-item {
  spacing: 1em;
}
.end-session-dialog-app-list-item-name, .end-session-dialog-session-list-item-name {
  font-weight: bold;
}
.end-session-dialog-app-list-item-description {
  color: #c6c6b9;
  font-size: 8pt;
}
.end-session-dialog .modal-dialog-linked-button:last-child {
  color: #ffffff;
  background-color: #F04A50;
}
.end-session-dialog .modal-dialog-linked-button:last-child:hover {
  color: #ffffff;
  background-color: #f47479;
}
.end-session-dialog .modal-dialog-linked-button:last-child:active {
  color: #ffffff;
  background-color: #ee3239;
}

.shell-mount-operation-icon {
  icon-size: 48px;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}

.mount-question-dialog-subject {
  max-width: 500px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px;
}

.show-processes-dialog-app-list {
  font-size: 10pt;
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}

.show-processes-dialog-app-list-item {
  color: #a3a38f;
}
.show-processes-dialog-app-list-item:hover {
  color: #babaab;
}
.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
  font-size: 10pt;
}

.prompt-dialog {
  width: 500px;
}
.prompt-dialog-main-layout {
  spacing: 24px;
  padding: 10px;
}
.prompt-dialog-message-layout {
  spacing: 16px;
}
.prompt-dialog-headline {
  font-size: 12pt;
  font-weight: bold;
  color: #babaab;
}
.prompt-dialog-descritption:rtl {
  text-align: right;
}
.prompt-dialog-password-box {
  spacing: 1em;
  padding-bottom: 1em;
}
.prompt-dialog-error-label {
  font-size: 9pt;
  color: #FC4138;
  padding-bottom: 8px;
}
.prompt-dialog-info-label {
  font-size: 9pt;
  padding-bottom: 8px;
}
.prompt-dialog-null-label {
  font-size: 9pt;
  padding-bottom: 8px;
}

.hidden {
  color: rgba(0, 0, 0, 0);
}

.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px;
}
.polkit-dialog-user-layout:rtl {
  padding-left: 0px;
  padding-right: 10px;
}
.polkit-dialog-user-root-label {
  color: #F27835;
}
.polkit-dialog-user-user-icon {
  border-radius: 2px;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.audio-device-selection-dialog {
  spacing: 30px;
}

.audio-selection-content {
  spacing: 20px;
  padding: 24px;
}
.audio-selection-title {
  font-weight: bold;
  text-align: center;
}
.audio-selection-box {
  spacing: 20px;
}
.audio-selection-device {
  border: 1px solid #010304;
  border-radius: 3px;
}
.audio-selection-device:active, .audio-selection-device:hover, .audio-selection-device:focus {
  background-color: #b0b0b0;
  border-color: #b0b0b0;
}
.audio-selection-device-box {
  padding: 20px;
  spacing: 20px;
}
.audio-selection-device-icon {
  icon-size: 64px;
}

.access-dialog {
  spacing: 30px;
}
.access-dialog-main-layout {
  padding: 12px 20px 0;
  spacing: 12px;
}
.access-dialog-content {
  max-width: 28em;
  spacing: 20px;
}
.access-dialog-icon {
  min-width: 48px;
  icon-size: 48px;
}
.access-dialog-title {
  font-weight: bold;
}
.access-dialog-subtitle {
  color: #babaab;
  font-weight: bold;
}

.geolocation-dialog {
  spacing: 30px;
}
.geolocation-dialog-main-layout {
  spacing: 12px;
}
.geolocation-dialog-content {
  spacing: 20px;
}
.geolocation-dialog-icon {
  icon-size: 48px;
}
.geolocation-dialog-title {
  font-weight: bold;
}
.geolocation-dialog-reason {
  color: #babaab;
  font-weight: bold;
}

.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

.popup-menu {
  min-width: 15em;
  color: #b0b0b0;
  box-shadow: none;
  border-radius: 4px;
}
.popup-menu .popup-sub-menu {
  background-color: #08111C !important;
  color: #babaab !important;
  border: none;
  box-shadow: none;
  border-radius: 0 !important;
}
.popup-menu .popup-menu-content {
  padding: 1em 0em 1em 0em;
  background-color: #0b1726;
  box-shadow: none;
  border: 1px solid #010304;
  border-radius: 4px;
}
.popup-menu .popup-menu-item {
  spacing: 6px;
}
.popup-menu .popup-menu-item:ltr {
  padding: 0.3em 2em 0.3em 1em;
}
.popup-menu .popup-menu-item:rtl {
  padding: 0.3em 1em 0.3em 2em;
}
.popup-menu .popup-menu-item:checked, .popup-menu .popup-menu-item:checked:hover, .popup-menu .popup-menu-item:checked:active {
  font-weight: normal !important;
  box-shadow: none;
  background-color: #b0b0b0 !important;
  color: #141414 !important;
  border-radius: 0 !important;
}
.popup-menu .popup-menu-item:active, .popup-menu .popup-menu-item.selected {
  color: #ffffff !important;
  background-color: #272e38 !important;
  border-radius: 0 !important;
}
.popup-menu .popup-menu-item:insensitive {
  color: rgba(186, 186, 171, 0.5);
  background: none;
}
.popup-menu .popup-inactive-menu-item {
  color: #babaab;
}
.popup-menu .popup-inactive-menu-item:insensitive {
  color: rgba(186, 186, 171, 0.45);
}
.popup-menu.panel-menu {
  -boxpointer-gap: 0px;
  margin-bottom: 1.75em;
}

.popup-menu-ornament {
  width: 1.4em;
  text-align: center !important;
}
.popup-menu-ornament:ltr {
  text-align: right;
}
.popup-menu-ornament:rtl {
  text-align: left;
}

.popup-menu-boxpointer {
  -arrow-border-radius: 2px;
  -arrow-background-color: rgba(0, 0, 0, 0);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0);
  -arrow-base: 0;
  -arrow-rise: 0;
}

.candidate-popup-boxpointer {
  -arrow-border-radius: 2px;
  -arrow-background-color: rgba(8, 17, 28, 0.95);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0.4);
  -arrow-base: 5;
  -arrow-rise: 5;
}

.popup-separator-menu-item {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
.popup-separator-menu-item .popup-separator-menu-item-separator {
  height: 1px;
  margin: 0;
  background-color: transparent;
}
.popup-sub-menu .popup-separator-menu-item .popup-separator-menu-item-separator {
  margin: 0;
  background-color: transparent;
}

.aggregate-menu {
  min-width: 22em;
}
.aggregate-menu .popup-menu-icon {
  padding: 0;
  margin: 0 4px;
  -st-icon-style: symbolic;
}
.aggregate-menu .popup-sub-menu .popup-menu-item > :first-child:ltr {
  margin-left: 1em;
}
.aggregate-menu .popup-sub-menu .popup-menu-item > :first-child:rtl {
  margin-right: 1em;
}

.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0px;
}

.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 20px;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;
  color: #b0b0b0;
  background-color: rgba(8, 17, 28, 0.95);
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}
.osd-window .osd-monitor-label {
  font-size: 3em;
}
.osd-window .level {
  padding: 0;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #b0b0b0;
}
.osd-window .level-bar {
  background-color: #b0b0b0;
  border-radius: 2px;
}

.resize-popup {
  color: #b0b0b0;
  background: rgba(8, 17, 28, 0.95);
  border-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 12px;
}

.switcher-popup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  color: #b0b0b0;
  background-color: rgba(8, 17, 28, 0.95);
  border-color: #010304;
  border-radius: 4px;
  padding: 20px;
}
.switcher-list-item-container {
  spacing: 8px;
}
.switcher-list .item-box {
  padding: 8px;
  border-radius: 2px;
  border: 1px solid transparent;
}
.switcher-list .item-box:outlined {
  padding: 8px;
  border: 1px solid #b0b0b0;
}
.switcher-list .item-box:selected {
  color: #141414;
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.switcher-list .thumbnail {
  width: 256px;
}
.switcher-list .separator {
  width: 1px;
  background: rgba(186, 186, 171, 0.33);
}

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: #b0b0b0;
}
.switcher-arrow:highlighted {
  color: white;
}

.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}

.cycler-highlight {
  border: 5px solid #b0b0b0;
}

.workspace-switcher {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  spacing: 8px;
}
.workspace-switcher-group {
  padding: 12px;
}
.workspace-switcher-container {
  color: #babaab;
  background-color: #08111C;
  border-radius: 4px;
  padding: 20px;
  padding-bottom: 24px;
}

.ws-switcher-active-up, .ws-switcher-active-down {
  height: 30px;
  background-color: #b0b0b0;
  background-size: 96px;
  border-radius: 2px;
  border: 1px solid #b0b0b0;
}

.ws-switcher-active-up {
  background-image: url("common-assets/misc/ws-switch-arrow-up.png");
}

.ws-switcher-active-down {
  background-image: url("common-assets/misc/ws-switch-arrow-down.png");
}

.ws-switcher-box {
  height: 96px;
  background-color: rgba(0, 0, 0, 0.33);
  border-color: rgba(0, 0, 0, 0.33);
  border-radius: 2px;
}

.tile-preview {
  background-color: rgba(176, 176, 176, 0.35);
  border: 1px solid #b0b0b0;
}
.tile-preview-left.on-primary {
  border-radius: 0px 0 0 0;
}
.tile-preview-right.on-primary {
  border-radius: 0 0px 0 0;
}
.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 0px 0px 0 0;
}

#panel {
  font-weight: bold;
  height: 2.1em;
  min-height: 30px;
  background-gradient-direction: none;
  background-color: transparent;
  background-color: #08111C;
  color: #b0b0b0;
}
#panel.dynamic-top-bar-white-btn {
  border-image: none;
}
#panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
  background-color: transparent;
  border-image: none;
}
#panel:overview {
  background-color: #08111C;
  color: #b0b0b0;
}
#panel #panelLeft,
#panel #panelCenter {
  spacing: 8px;
}
#panel .panel-corner {
  -panel-corner-radius: 0px;
  -panel-corner-background-color: rgba(0, 0, 0, 0);
  -panel-corner-border-width: 0px;
  -panel-corner-border-color: black;
}
#panel .panel-corner:active, #panel .panel-corner:overview, #panel .panel-corner:focus {
  -panel-corner-border-color: black;
}
#panel .panel-corner.lock-screen, #panel .panel-corner.login-screen, #panel .panel-cornerunlock-screen {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-color: transparent;
}
#panel .panel-button {
  -natural-hpadding: 10px;
  -minimum-hpadding: 6px;
  font-weight: bold;
  color: #b0b0b0;
  transition-duration: 100ms;
  border: 3px solid transparent;
  border-color: transparent;
}
#panel .panel-button .app-menu-icon {
  width: 0;
  height: 0;
  margin-left: 0px;
  margin-right: 0px;
}
#panel .panel-button.clock-display .clock {
  transition-duration: 150ms;
  border: 3px solid transparent;
  border-radius: 6px;
  padding-right: 6px;
  padding-left: 6px;
}
#panel .panel-button:hover {
  color: #bfbfbf;
  background-color: rgba(0, 0, 0, 0.17);
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.17);
  border: 3px solid transparent;
  border-color: transparent;
  border-radius: 6px;
  text-shadow: none;
}
#panel .panel-button:hover.clock-display {
  box-shadow: none;
  background-color: transparent;
  text-shadow: none;
  color: inherit;
}
#panel .panel-button:hover.clock-display .clock {
  color: #bfbfbf;
  background-color: rgba(0, 0, 0, 0.17);
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.17);
  border: 3px solid transparent;
  border-color: transparent;
  border-radius: 6px;
  text-shadow: none;
}
#panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
  color: #141414;
  background-color: transparent;
  box-shadow: inset 0 0 0 1000px #b0b0b0;
  border: 3px solid transparent;
  border-color: transparent;
  border-radius: 6px;
}
#panel .panel-button:active > .system-status-icon, #panel .panel-button:overview > .system-status-icon, #panel .panel-button:focus > .system-status-icon, #panel .panel-button:checked > .system-status-icon {
  icon-shadow: none;
}
#panel .panel-button:active.clock-display, #panel .panel-button:overview.clock-display, #panel .panel-button:focus.clock-display, #panel .panel-button:checked.clock-display {
  box-shadow: none;
}
#panel .panel-button:active.clock-display .clock, #panel .panel-button:overview.clock-display .clock, #panel .panel-button:focus.clock-display .clock, #panel .panel-button:checked.clock-display .clock {
  box-shadow: inset 0 0 0 1000px #b0b0b0;
  color: #141414;
  padding-right: 6px;
  padding-left: 6px;
}
#panel .panel-button .system-status-icon {
  icon-size: 16px;
  padding: 0 4px;
}
.unlock-screen #panel .panel-button, .login-screen #panel .panel-button, .lock-screen #panel .panel-button {
  color: #d1d1c7;
}
.unlock-screen #panel .panel-button:focus, .unlock-screen #panel .panel-button:hover, .unlock-screen #panel .panel-button:active, .login-screen #panel .panel-button:focus, .login-screen #panel .panel-button:hover, .login-screen #panel .panel-button:active, .lock-screen #panel .panel-button:focus, .lock-screen #panel .panel-button:hover, .lock-screen #panel .panel-button:active {
  color: #d1d1c7;
}
#panel #panelActivities.panel-button {
  -natural-hpadding: 12px;
}
#panel .panel-status-indicators-box,
#panel .panel-status-menu-box {
  spacing: 2px;
}
#panel .power-status.panel-status-indicators-box {
  spacing: 0;
}
#panel .screencast-indicator {
  color: #FC4138;
}
#panel .clock-display > * > *:last-child {
  color: #b0b0b0;
  border: 1px solid rgba(176, 176, 176, 0.5);
  padding: 2px;
  border-radius: 6px;
}
#panel .popup-menu-arrow {
  width: 0;
}

#panel #panelActivities.panel-button > * {
  background-image: url("common-assets/panel/activities.svg");
  background-position: center top;
  width: 24px;
  height: 24px;
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: 3px solid transparent !important;
  text-shadow: 0 0 transparent !important;
  transition-duration: 0ms !important;
  box-shadow: none !important;
  color: transparent;
}
#panel #panelActivities.panel-button:active, #panel #panelActivities.panel-button:overview, #panel #panelActivities.panel-button:focus, #panel #panelActivities.panel-button:checked {
  background-color: transparent;
  box-shadow: inset 0 0 0 1000px #b0b0b0;
  border: 3px solid transparent;
  border-color: transparent;
}
#panel #panelActivities.panel-button:active > *, #panel #panelActivities.panel-button:overview > *, #panel #panelActivities.panel-button:focus > *, #panel #panelActivities.panel-button:checked > * {
  background-image: url("common-assets/panel/activities-active.svg");
}

.system-switch-user-submenu-icon {
  icon-size: 20px;
  padding: 0 2px;
}

.system-switch-user-submenu-icon.default-icon {
  icon-size: 16px;
  padding: 0 4px;
}

#appMenu {
  spinner-image: url("common-assets/misc/process-working.svg");
  spacing: 4px;
  padding: 0 8px;
}
#appMenu .label-shadow {
  color: transparent;
}

.system-menu-action {
  padding: 13px;
  color: #babaab;
  border-radius: 32px;
  /* wish we could do 50% */
  border: 1px solid transparent;
}
.system-menu-action:hover, .system-menu-action:focus {
  transition-duration: 100ms;
  padding: 13px;
  color: #babaab;
  background-color: transparent;
  border: 1px solid #b0b0b0;
}
.system-menu-action:active {
  color: #141414;
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
}
.system-menu-action > StIcon {
  icon-size: 16px;
}

#calendarArea {
  padding: 0px;
}

.datemenu-calendar-column {
  spacing: 6px;
  border: 0 solid #010304;
  padding: 0 12px;
}
.datemenu-calendar-column:ltr {
  margin-right: 8px;
  border-left-width: 0;
}
.datemenu-calendar-column:rtl {
  margin-left: 8px;
  border-right-width: 0;
}
.datemenu-calendar-column .datemenu-displays-box {
  spacing: 6px;
}

.events-section-title {
  color: rgba(186, 186, 171, 0.7);
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  padding: 0.4em;
}
.events-section-title label, .events-section-title image {
  color: inherit;
}

.datemenu-today-button {
  color: #babaab;
  background-color: transparent;
  border-color: transparent;
  padding: 9px;
}
.datemenu-today-button label, .datemenu-today-button image {
  color: inherit;
}
.datemenu-today-button .day-label {
  font-weight: bold;
}
.datemenu-today-button .date-label {
  font-weight: 1000;
}
.datemenu-today-button:hover, .datemenu-today-button:focus {
  background-color: rgba(176, 176, 176, 0.2);
}
.datemenu-today-button:active, .datemenu-today-button:selected {
  background-color: rgba(176, 176, 176, 0.1);
}

.calendar {
  color: rgba(186, 186, 171, 0.5);
  background-color: transparent;
  border-color: transparent;
  padding: 2px;
  border-radius: 4px;
}
.calendar label, .calendar image {
  color: inherit;
}
.calendar .calendar-month-label {
  color: #babaab;
  font-weight: bold;
  padding: 6px 0;
}
.calendar .calendar-change-month-back {
  background-image: url("dark-assets/misc/calendar-arrow-left.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-back:focus, .calendar .calendar-change-month-back:hover {
  background-image: url("dark-assets/misc/calendar-arrow-left-hover.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-back:active {
  background-image: url("dark-assets/misc/calendar-arrow-left.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-back:rtl {
  background-image: url("dark-assets/misc/calendar-arrow-right.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-back:rtl:focus, .calendar .calendar-change-month-back:rtl:hover {
  background-image: url("dark-assets/misc/calendar-arrow-right-hover.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-back:rtl:active {
  background-image: url("dark-assets/misc/calendar-arrow-right.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-forward {
  background-image: url("dark-assets/misc/calendar-arrow-right.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-forward:focus, .calendar .calendar-change-month-forward:hover {
  background-image: url("dark-assets/misc/calendar-arrow-right-hover.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-forward:active {
  background-image: url("dark-assets/misc/calendar-arrow-right.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-forward:rtl {
  background-image: url("dark-assets/misc/calendar-arrow-left.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-forward:rtl:focus, .calendar .calendar-change-month-forward:rtl:hover {
  background-image: url("dark-assets/misc/calendar-arrow-left-hover.svg");
  background-color: transparent;
}
.calendar .calendar-change-month-forward:rtl:active {
  background-image: url("dark-assets/misc/calendar-arrow-left.svg");
  background-color: transparent;
}
.calendar .pager-button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  color: transparent;
}
.calendar .pager-button:hover, .calendar .pager-button:focus, .calendar .pager-button:active {
  background-color: transparent;
  color: transparent;
}
.calendar .calendar-day-base {
  color: rgba(186, 186, 171, 0.5);
  background-color: transparent;
  border-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin: 1px;
  padding: 0.5px;
  text-align: center;
  font-feature-settings: "tnum";
}
.calendar .calendar-day-base label, .calendar .calendar-day-base image {
  color: inherit;
}
.calendar .calendar-day-base:hover, .calendar .calendar-day-base:focus {
  color: rgba(186, 186, 171, 0.6);
  background-color: rgba(176, 176, 176, 0.1);
  border-color: transparent;
}
.calendar .calendar-day-base:hover label, .calendar .calendar-day-base:hover image, .calendar .calendar-day-base:focus label, .calendar .calendar-day-base:focus image {
  color: inherit;
}
.calendar .calendar-day-base:active, .calendar .calendar-day-base:selected {
  color: rgba(186, 186, 171, 0.7);
  background-color: rgba(176, 176, 176, 0.1);
  border-color: transparent;
}
.calendar .calendar-day-base:active label, .calendar .calendar-day-base:active image, .calendar .calendar-day-base:selected label, .calendar .calendar-day-base:selected image {
  color: inherit;
}
.calendar .calendar-day-base:focus, .calendar .calendar-day-base:selected:focus, .calendar .calendar-day-base:active:focus {
  box-shadow: inset 0 0 0 2px rgba(176, 176, 176, 0.6);
  color: #babaab !important;
  font-weight: bold !important;
}
.calendar .calendar-day-base.calendar-day-heading {
  color: #b0b0b0;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold !important;
  text-align: center;
  padding: 0.2px;
  margin-top: 3px;
}
.calendar .calendar-day {
  border-width: 0px;
}
.calendar .calendar-day-top {
  border-top-width: 1px;
}
.calendar .calendar-day-left {
  border-left-width: 1px;
}
.calendar .calendar-work-day {
  background-color: transparent;
}
.calendar .calendar-nonwork-day {
  color: #babaab;
  background-color: transparent;
}
.calendar .calendar-today {
  color: #141414 !important;
  background-color: #b0b0b0;
  border-color: #010304;
  font-weight: bold !important;
}
.calendar .calendar-today label, .calendar .calendar-today image {
  color: inherit;
}
.calendar .calendar-today:hover, .calendar .calendar-today:focus {
  color: #141414;
  background-color: #c2c2c2;
  border-color: #010304;
}
.calendar .calendar-today:hover label, .calendar .calendar-today:hover image, .calendar .calendar-today:focus label, .calendar .calendar-today:focus image {
  color: inherit;
}
.calendar .calendar-today:active {
  color: #141414;
  background-color: #b8b8b8;
  border-color: #010304;
}
.calendar .calendar-today:active label, .calendar .calendar-today:active image {
  color: inherit;
}
.calendar .calendar-today:selected {
  color: #141414 !important;
  background-color: #b0b0b0;
  border-color: #010304;
}
.calendar .calendar-today:selected label, .calendar .calendar-today:selected image {
  color: inherit;
}
.calendar .calendar-day-with-events {
  color: rgba(186, 186, 171, 0.8);
  background-color: transparent;
  border-color: transparent;
  background-image: url("common-assets/misc/calendar-today.svg");
  font-weight: bold;
}
.calendar .calendar-day-with-events label, .calendar .calendar-day-with-events image {
  color: inherit;
}
.calendar .calendar-other-month-day {
  color: rgba(186, 186, 171, 0.23);
}
.calendar .calendar-week-number {
  color: #b0b0b0;
  background-color: transparent;
  font-style: normal;
  font-weight: bold !important;
  height: 14px;
  width: 14px;
  border-radius: 999px;
  padding: 0;
  margin: 0px 3px;
}

.world-clocks-button {
  color: rgba(186, 186, 171, 0.5);
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px;
  box-shadow: none;
}
.world-clocks-button label, .world-clocks-button image {
  color: inherit;
}
.world-clocks-button:hover {
  color: rgba(186, 186, 171, 0.6);
  background-color: rgba(176, 176, 176, 0.1);
  border-color: transparent;
}
.world-clocks-button:hover label, .world-clocks-button:hover image {
  color: inherit;
}
.world-clocks-button:active {
  color: rgba(186, 186, 171, 0.7);
  background-color: rgba(176, 176, 176, 0.1);
  border-color: transparent;
}
.world-clocks-button:active label, .world-clocks-button:active image {
  color: inherit;
}
.world-clocks-button:active .world-clocks-time {
  color: rgba(176, 176, 176, 0.78);
}
.world-clocks-button .world-clocks-grid, .world-clocks-button .world-clocks-city, .world-clocks-button .world-clocks-timezone {
  color: rgba(186, 186, 171, 0.67);
}
.world-clocks-button .world-clocks-city {
  font-size: 8;
}
.world-clocks-button .world-clocks-timezone {
  font-size: 7;
}
.world-clocks-button .world-clocks-time {
  color: #b0b0b0;
  font-weight: bold;
}
.world-clocks-button .world-clocks-header {
  font-weight: bold;
  color: #babaab;
  padding: 0;
}
.world-clocks-button .world-clocks-grid {
  spacing-rows: 6px;
  spacing-columns: 12px;
}

.weather-button {
  color: rgba(186, 186, 171, 0.5);
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px;
  box-shadow: none;
}
.weather-button label, .weather-button image {
  color: inherit;
}
.weather-button:hover {
  color: rgba(186, 186, 171, 0.6);
  background-color: rgba(176, 176, 176, 0.1);
  border-color: transparent;
}
.weather-button:hover label, .weather-button:hover image {
  color: inherit;
}
.weather-button:active {
  color: rgba(186, 186, 171, 0.7);
  background-color: rgba(176, 176, 176, 0.1);
  border-color: transparent;
}
.weather-button:active label, .weather-button:active image {
  color: inherit;
}
.weather-button:active .weather-forecast-icon {
  color: rgba(186, 186, 171, 0.34);
}
.weather-button .weather-box {
  spacing: 10px;
}
.weather-button .weather-header-box {
  spacing: 6px;
}
.weather-button .weather-header {
  color: #babaab;
  font-weight: bold;
  padding: 0;
}
.weather-button .weather-header.location {
  color: rgba(186, 186, 171, 0.67);
  font-weight: normal;
  font-size: 8;
}
.weather-button .weather-grid {
  spacing-rows: 6px;
  spacing-columns: 12px;
}
.weather-button .weather-forecast-time {
  color: rgba(186, 186, 171, 0.56);
  font-feature-settings: "tnum";
  font-size: 7;
  font-weight: normal;
  padding-top: 0.2em;
  padding-bottom: 0.4em;
}
.weather-button .weather-forecast-icon {
  icon-size: 2.18em;
}
.weather-button .weather-forecast-temp {
  font-weight: bold;
}

.events-button {
  color: #b0b0b0;
  background-color: transparent;
  border-color: transparent;
  border-radius: 2px;
  padding: 4px;
  box-shadow: none;
}
.events-button .events-box {
  spacing: 2px;
}
.events-button .events-list {
  spacing: 4px;
}
.events-button .events-title {
  color: #babaab;
  font-weight: bold;
  margin-bottom: 4px;
}
.events-button .event-time {
  color: rgba(186, 186, 171, 0.5);
  font-feature-settings: "tnum";
  font-size: 80%;
  margin-top: 4px;
}

.message-list {
  width: 31.5em;
}
.message-list-sections {
  spacing: 1.5em;
  margin-left: 1.5em;
}
.message-list-section, .message-list-section-list {
  spacing: 0.7em;
}
.message-list-section-list-title-box {
  spacing: 0.4em;
}
.message-list-placeholder StIcon {
  width: 0;
  height: 0;
}
.message-list-placeholder StLabel {
  color: rgba(186, 186, 171, 0.45);
}
.message-list-clear-button.button {
  padding: 4px 12px;
}
.message-list-section-close > StIcon {
  icon-size: 18px;
  border-radius: 999px;
  color: #7c7f79 !important;
  background-color: transparent;
}
.message-list-section-close:hover > StIcon {
  color: #d7787d !important;
  background-color: transparent;
}
.message-list-section-close:active > StIcon {
  color: #be3841;
  background-color: transparent;
}
.message-list:ltr {
  border-right-width: 1px;
  border-color: #010304;
}
.message-list:rtl {
  border-left-width: 1px;
  border-color: #010304;
}
.message-list-controls {
  margin: 16px 16px 0 16px;
}

.message {
  padding: 4px;
  color: rgba(186, 186, 171, 0.8);
  border: none;
  border-radius: 4px;
  box-shadow: none;
  background-color: #0b1726;
  border-left-width: 2px;
  border-style: solid;
  border-color: #b0b0b0;
}
.message label {
  color: inherit;
}
.message:hover, .message:focus {
  color: #babaab;
  background-color: #0a1522;
  border-color: #bdbdbd;
}
.message:active {
  color: #141414;
  background-color: #b0b0b0;
}
.message:active .message-close-button {
  color: #b0b0b0;
}
.message-icon-bin {
  padding: 8px 0px 8px 8px;
}
.message-icon-bin:rtl {
  padding: 8px 8px 8px 0px;
}
.message-icon-bin > StIcon {
  color: inherit;
}
.message-secondary-bin, .message-secondary-bin > .event-time {
  color: rgba(186, 186, 171, 0.6);
  font-size: 0.9em;
}
.message-secondary-bin:ltr, .message-secondary-bin > .event-time:ltr {
  padding-left: 8px;
}
.message-secondary-bin:rtl, .message-secondary-bin > .event-time:rtl {
  padding-right: 8px;
}
.message:active .message-secondary-bin, .message:active .message-secondary-bin > .event-time {
  color: rgba(20, 20, 20, 0.6);
}
.message-secondary-bin > StIcon {
  icon-size: 16px;
}
.message-title {
  color: inherit;
  font-weight: bold;
  font-size: 1em;
  padding: 2px 0 2px 0;
}
.message-content {
  color: inherit;
  padding: 8px;
  font-size: 1em;
}
.message .message-body {
  color: rgba(186, 186, 171, 0.8);
}
.message:hover .message-body {
  color: #babaab;
}
.message:active .message-body {
  color: #141414;
}

.message-close-button {
  color: #7c7f79 !important;
  background-color: transparent;
}
.message-close-button:hover {
  color: #d7787d !important;
}
.message-close-button:active {
  color: #be3841 !important;
}

.message-media-control {
  padding: 6px;
  color: #b0b0b0;
  background-color: transparent;
  border-radius: 4px !important;
  border-color: transparent;
  margin: 9px;
}
.message-media-control:last-child:ltr {
  margin-right: 18px;
}
.message-media-control:last-child:rtl {
  margin-left: 18px;
}
.message-media-control:hover {
  color: #ffffff;
}
.message-media-control:active {
  color: #141414;
  background-color: #b0b0b0;
}
.message-media-control:insensitive {
  color: rgba(186, 186, 171, 0.45);
}

.message:active .message-media-control {
  color: #141414;
}

.media-message-cover-icon {
  icon-size: 32px;
}
.media-message-cover-icon.fallback {
  color: rgba(186, 186, 171, 0.45);
  background-color: #08111C;
  border-radius: 2px;
  icon-size: 16px;
  padding: 8px;
  border: 1px solid #010304;
}

.ripple-box {
  width: 52px;
  height: 52px;
  background-image: url("common-assets/misc/corner-ripple-ltr.svg");
  background-size: contain;
}
.ripple-box:rtl {
  background-image: url("common-assets/misc/corner-ripple-rtl.svg");
}

.popup-menu-arrow {
  width: 16px;
  height: 16px;
}

.popup-menu-icon {
  icon-size: 1em;
}

.window-close {
  border-image: url("common-assets/misc/close.svg");
  background-image: url("common-assets/misc/close.svg");
  background-color: transparent;
  background-size: 26px;
  height: 26px;
  width: 26px;
}
.window-close:hover {
  border-image: url("common-assets/misc/close-hover.svg");
  background-image: url("common-assets/misc/close-hover.svg");
  background-color: transparent;
  background-size: 26px;
  height: 26px;
  width: 26px;
}
.window-close:active {
  border-image: url("common-assets/misc/close-active.svg");
  background-image: url("common-assets/misc/close-active.svg");
  background-color: transparent;
  background-size: 26px;
  height: 26px;
  width: 26px;
}

.window-close {
  -shell-close-overlap: 11px;
}

.nm-dialog {
  max-height: 500px;
  min-height: 450px;
  min-width: 470px;
}
.nm-dialog-content {
  spacing: 20px;
  padding: 10px;
}
.nm-dialog-header-hbox {
  spacing: 10px;
}
.nm-dialog-airplane-box {
  spacing: 12px;
}
.nm-dialog-airplane-headline {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}
.nm-dialog-airplane-text {
  color: #babaab;
}
.nm-dialog-header-icon {
  icon-size: 32px;
}
.nm-dialog-scroll-view {
  border: 1px solid #010304;
  border-radius: 2px;
  background-color: #08111C;
}
.nm-dialog-header {
  font-weight: bold;
  font-size: 1.2em;
}
.nm-dialog-item {
  font-size: 1em;
  border-bottom: 0px solid;
  padding: 12px;
  spacing: 0px;
}
.nm-dialog-item:selected {
  background-color: #b0b0b0;
  color: #141414;
}
.nm-dialog-icons {
  spacing: 0.5em;
}
.nm-dialog-icon {
  icon-size: 16px;
}

.no-networks-label {
  color: rgba(186, 186, 171, 0.45);
}

.no-networks-box {
  spacing: 12px;
}

#overview {
  spacing: 24px;
}

#overviewGroup {
  background-color: #08111C;
}

.overview-controls {
  padding-bottom: 32px;
}

.window-picker {
  -horizontal-spacing: 32px;
  -vertical-spacing: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 48px;
}
.window-picker.external-monitor {
  padding: 32px;
}

.window-clone-border {
  border: 3px solid rgba(176, 176, 176, 0.8);
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px rgba(176, 176, 176, 0);
}

.window-caption,
.window-caption:hover {
  spacing: 25px;
  color: #b0b0b0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 4px 12px;
  -shell-caption-spacing: 12px;
}

.search-entry {
  width: 320px;
  padding: 7px 9px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(16, 34, 56, 0.9);
}
.search-entry:hover .search-entry-icon {
  color: rgba(186, 186, 171, 0.72);
}
.search-entry .search-entry-icon {
  icon-size: 16px;
  padding: 0 4px;
  color: rgba(186, 186, 171, 0.52);
}
.search-entry:focus {
  color: #141414;
  caret-color: #141414;
  background-color: #b0b0b0;
  selection-background-color: #ebebeb;
  selected-color: #141414;
  padding: 7px 9px;
}
.search-entry:focus .search-entry-icon {
  color: #141414;
}

#searchResultsBin {
  max-width: 1000px;
}

#searchResultsContent {
  max-width: 1000px;
  spacing: 8px;
}

.search-section {
  spacing: 8px;
}
.search-section .search-section-separator {
  height: 0;
  background-color: transparent;
}

.search-section-content {
  color: #babaab;
  background-color: #08111C;
  border-radius: 4px;
  border: 1px solid #010304;
  padding: 18px;
  spacing: 8px;
}

.list-search-results {
  spacing: 3px;
}

.search-section-separator {
  background-color: rgba(255, 255, 255, 0.2);
  -margin-horizontal: 1.5em;
  height: 1px;
}

.list-search-result-content {
  spacing: 12px;
  padding: 12px;
}

.list-search-result-title {
  font-size: 1.5em;
  color: white;
}

.list-search-result-description {
  color: #cccccc;
}

.search-provider-icon {
  padding: 15px;
}

.search-provider-icon-more {
  width: 16px;
  height: 16px;
  background-image: url("common-assets/misc/more-results.svg");
}

#dash {
  font-size: 1em;
  color: #b0b0b0;
  background-color: rgba(8, 17, 28, 0.95);
  border-color: rgba(0, 0, 0, 0.4);
  padding: 4px 0;
  border-radius: 0 3px 3px 0;
}
#dash:rtl {
  border-radius: 3px 0 0 3px;
}
.right #dash, #dash:rtl {
  padding: 4px 0;
}
.top #dash, .bottom #dash {
  padding: 0;
}
#dash .placeholder {
  background-image: url("common-assets/dash/dash-placeholder.svg");
  background-size: contain;
  height: 24px;
}
#dash .empty-dash-drop-target {
  width: 24px;
  height: 24px;
}

.dash-item-container > StWidget, .dash-item-container > StWidget:rtl, .right .dash-item-container > StWidget {
  padding: 4px 8px;
}
.top .dash-item-container > StWidget, .bottom .dash-item-container > StWidget {
  padding: 6px;
}

.dash-label {
  border-radius: 3px;
  padding: 4px 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  -x-offset: 3px;
}
.bottom .dash-label, .top .dash-label {
  -y-offset: 3px;
  -x-offset: 0;
}

#dash .app-well-app:hover .overview-icon, .right #dash .app-well-app:hover .overview-icon, .bottom #dash .app-well-app:hover .overview-icon, .top #dash .app-well-app:hover .overview-icon {
  background-color: #b0b0b0;
}
#dash .app-well-app:active .overview-icon, .right #dash .app-well-app:active .overview-icon, .bottom #dash .app-well-app:active .overview-icon, .top #dash .app-well-app:active .overview-icon {
  box-shadow: none;
  background-color: #979797;
}
#dash .app-well-app-running-dot {
  width: 11px;
  height: 2px;
  margin-bottom: 2px;
  background-color: #b0b0b0;
}

#dashtodockContainer .app-well-app-running-dot {
  background: none;
  width: 28px;
  height: 4px;
}
#dashtodockContainer .running1 .app-well-app-running-dot {
  background-image: url("common-assets/dash/running1.svg");
}
#dashtodockContainer .running2 .app-well-app-running-dot {
  background-image: url("common-assets/dash/running2.svg");
}
#dashtodockContainer .running3 .app-well-app-running-dot {
  background-image: url("common-assets/dash/running3.svg");
}
#dashtodockContainer .running4 .app-well-app-running-dot {
  background-image: url("common-assets/dash/running4.svg");
}

.show-apps .overview-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  border: 0px solid;
}
.show-apps:hover .overview-icon {
  background-color: rgba(0, 0, 0, 0.7);
  color: #b0b0b0;
}
.show-apps:active .overview-icon, .show-apps:active .show-apps-icon, .show-apps:checked .overview-icon, .show-apps:checked .show-apps-icon {
  color: #141414;
  background-color: #b0b0b0;
  box-shadow: none;
  transition-duration: 0ms;
}

.icon-grid {
  spacing: 30px;
  -shell-grid-horizontal-item-size: 136px;
  -shell-grid-vertical-item-size: 136px;
}
.icon-grid .overview-icon {
  icon-size: 96px;
}

.app-view-controls {
  padding-bottom: 32px;
}

.app-view-control {
  padding: 4px 32px;
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #b0b0b0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(33, 70, 115, 0.35);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
.app-view-control:hover {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #b0b0b0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(41, 87, 143, 0.45);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
.app-view-control:checked {
  color: #141414;
  background-color: #b0b0b0;
}
.app-view-control:first-child:ltr, .app-view-control:last-child:rtl {
  border-radius: 2px 0 0 2px;
  border-right-width: 0;
}
.app-view-control:last-child:ltr, .app-view-control:first-child:rtl {
  border-radius: 0 2px 2px 0;
  border-left-width: 0;
}

.search-provider-icon:active, .search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked {
  background-color: rgba(0, 0, 0, 0.85);
}
.search-provider-icon:focus, .search-provider-icon:selected, .search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover {
  background-color: rgba(176, 176, 176, 0.4);
  transition-duration: 200ms;
}

.app-well-app:active .overview-icon, .app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 0 #b0b0b0;
}
.app-well-app:hover .overview-icon, .app-well-app:focus .overview-icon, .app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
  background-color: rgba(176, 176, 176, 0.4);
  transition-duration: 0ms;
  border-image: none;
  background-image: none;
}

.app-well-app-running-dot {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  background-color: #b0b0b0;
}

.search-provider-icon,
.list-search-result, .app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.grid-search-result .overview-icon {
  color: white;
  border-radius: 6px;
  padding: 6px;
  border: 2px solid transparent;
  transition-duration: 0ms;
  text-align: center;
}

.app-well-app.app-folder > .overview-icon {
  background-color: rgba(16, 34, 56, 0.95);
  border: 1px solid rgba(14, 29, 48, 0.95);
  border-radius: 4px;
}
.app-well-app.app-folder:hover > .overview-icon {
  background-color: rgba(20, 43, 72, 0.95);
}
.app-well-app.app-folder:active > .overview-icon, .app-well-app.app-folder:checked > .overview-icon {
  color: #141414;
  background-color: #b0b0b0;
  box-shadow: none;
}
.app-well-app.app-folder:focus > .overview-icon {
  background-color: #b0b0b0;
}

.app-folder-popup {
  -arrow-border-radius: 2px;
  -arrow-background-color: rgba(0, 0, 0, 0.95);
  -arrow-border-color: rgba(0, 0, 0, 0.45);
  -arrow-border-width: 1px;
  -arrow-base: 5;
  -arrow-rise: 5;
}

.app-folder-popup-bin {
  padding: 5px;
}

.app-folder-icon {
  padding: 5px;
  spacing-rows: 5px;
  spacing-columns: 5px;
}

.page-indicator {
  padding: 15px 20px;
}
.page-indicator .page-indicator-icon {
  width: 18px;
  height: 18px;
  background-color: #b0b0b0;
}
.page-indicator:hover .page-indicator-icon {
  background-color: #c2c2c2;
}
.page-indicator:active .page-indicator-icon {
  background-color: #d4d4d4;
}
.page-indicator:checked .page-indicator-icon, .page-indicator:checked:active {
  background-color: #b0b0b0;
}

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
  padding: 10px 8px 5px 8px;
  spacing: 4px;
}

.workspace-thumbnails, .workspace-thumbnails:rtl,
.workspace-thumbnails-left,
.workspace-thumbnails-left:rtl {
  visible-width: 40px;
  spacing: 11px;
  padding: 12px;
}

.workspace-thumbnails,
.workspace-thumbnails-left:rtl {
  padding-right: 7px;
  border-image: url("common-assets/dash/dash-right.svg") 9 9 9 9;
}

.workspace-thumbnails:rtl,
.workspace-thumbnails-left {
  padding-left: 7px;
  border-image: url("common-assets/dash/dash-left.svg") 9 9 9 9;
}

.workspace-thumbnail-indicator {
  border: 4px solid rgba(176, 176, 176, 0.8);
  border-radius: 1px;
  padding: 1px;
}

.all-apps {
  padding: 0px 88px 10px 88px;
}

.search-statustext, .no-frequent-applications-label {
  font-size: 2em;
  font-weight: bold;
  color: #babaab;
}

.url-highlighter {
  link-color: #e3e3e3;
}

.notification-banner,
.notification-banner:hover,
.notification-banner:focus {
  font-size: 1em;
  width: 34em;
  margin: 5px;
  padding: 10px;
  color: #babaab;
  border-left-width: 2px;
  border-style: solid;
  border-color: #b0b0b0;
}
.notification-banner .notification-icon,
.notification-banner:hover .notification-icon,
.notification-banner:focus .notification-icon {
  padding: 5px;
}
.notification-banner .notification-content,
.notification-banner:hover .notification-content,
.notification-banner:focus .notification-content {
  padding: 5px;
  spacing: 5px;
}
.notification-banner .secondary-icon,
.notification-banner:hover .secondary-icon,
.notification-banner:focus .secondary-icon {
  icon-size: 1.09em;
}
.notification-banner .notification-actions,
.notification-banner:hover .notification-actions,
.notification-banner:focus .notification-actions {
  background-color: transparent;
  padding: 2px 2px 0 2px;
  spacing: 3px;
}
.notification-banner .notification-button,
.notification-banner:hover .notification-button,
.notification-banner:focus .notification-button {
  padding: 4px 4px 5px;
}
.notification-banner .notification-button:first-child, .notification-banner .notification-button:last-child,
.notification-banner:hover .notification-button:first-child,
.notification-banner:hover .notification-button:last-child,
.notification-banner:focus .notification-button:first-child,
.notification-banner:focus .notification-button:last-child {
  border-radius: 2px;
}

.secondary-icon {
  icon-size: 1.09em;
}

.chat-body {
  spacing: 5px;
}

.chat-response {
  margin: 5px;
}

.chat-log-message {
  color: #babaab;
}

.chat-new-group {
  padding-top: 1em;
}

.chat-received {
  padding-left: 4px;
}
.chat-received:rtl {
  padding-left: 0px;
  padding-right: 4px;
}

.chat-sent {
  padding-left: 18pt;
  color: #b0b0b0;
}
.chat-sent:rtl {
  padding-left: 0;
  padding-right: 18pt;
}

.chat-meta-message {
  padding-left: 4px;
  font-size: 9pt;
  font-weight: bold;
  color: rgba(186, 186, 171, 0.6);
}
.chat-meta-message:rtl {
  padding-left: 0;
  padding-right: 4px;
}

.subscription-message {
  font-style: italic;
}

.hotplug-transient-box {
  spacing: 6px;
  padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
  padding: 2px 10px;
}
.hotplug-notification-item:focus {
  padding: 2px 10px;
}

.hotplug-notification-item-icon {
  icon-size: 24px;
  padding: 2px 5px;
}

.hotplug-resident-box {
  spacing: 8px;
}

.hotplug-resident-mount {
  spacing: 8px;
  border-radius: 4px;
}
.hotplug-resident-mount:hover {
  background-color: rgba(8, 17, 28, 0.3);
}

.hotplug-resident-mount-label {
  color: inherit;
  padding-left: 6px;
}

.hotplug-resident-mount-icon {
  icon-size: 24px;
  padding-left: 6px;
}

.hotplug-resident-eject-icon {
  icon-size: 16px;
}

.hotplug-resident-eject-button {
  padding: 7px;
  border-radius: 5px;
  color: pink;
}

.legacy-tray {
  background-color: #08111C;
}
.legacy-tray:ltr {
  border-radius: 0 2px 0 0;
  border-left-width: 0;
}
.legacy-tray:rtl {
  border-radius: 2px 0 0 0;
  border-right-width: 0;
}

.legacy-tray-handle,
.legacy-tray-icon {
  padding: 6px;
}
.legacy-tray-handle StIcon,
.legacy-tray-icon StIcon {
  icon-size: 24px;
}
.legacy-tray-handle:hover, .legacy-tray-handle:focus,
.legacy-tray-icon:hover,
.legacy-tray-icon:focus {
  background-color: rgba(186, 186, 171, 0.1);
}

.legacy-tray-icon-box {
  spacing: 12px;
}
.legacy-tray-icon-box:ltr {
  padding-left: 12px;
}
.legacy-tray-icon-box:rtl {
  padding-right: 12px;
}
.legacy-tray-icon-box StButton {
  width: 24px;
  height: 24px;
}

.masterslider.smaller .masterlabel,
.masterslider.smaller .slider {
  min-width: 155px;
}

.magnifier-zoom-region {
  border: 2px solid #b0b0b0;
}
.magnifier-zoom-region.full-screen {
  border-width: 0;
}

#keyboard {
  background-color: rgba(8, 17, 28, 0.95);
  border-width: 0;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  min-height: 2em;
  min-width: 2em;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: none;
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #b0b0b0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(33, 70, 115, 0.35);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
.keyboard-key:hover {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #b0b0b0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(41, 87, 143, 0.45);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
.keyboard-key:active, .keyboard-key:checked {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #141414;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: #b0b0b0;
  box-shadow: inset 0 1px rgba(176, 176, 176, 0.05);
}
.keyboard-key:grayed {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #3a4148;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(33, 70, 115, 0.2);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}

.keyboard-subkeys {
  color: #b0b0b0;
  padding: 5px;
  -arrow-border-radius: 2px;
  -arrow-background-color: rgba(8, 17, 28, 0.95);
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0.4);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em;
  color: #b0b0b0;
  font-size: 1.15em;
}

.candidate-index {
  padding: 0 0.5em 0 0;
  color: #cacaca;
}

.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 2px;
  color: #b0b0b0;
}
.candidate-box:selected, .candidate-box:hover {
  background-color: #b0b0b0;
  color: #141414;
}

.candidate-page-button-box {
  height: 2em;
}
.vertical .candidate-page-button-box {
  padding-top: 0.5em;
}
.horizontal .candidate-page-button-box {
  padding-left: 0.5em;
}

.candidate-page-button {
  padding: 4px;
}

.candidate-page-button-previous {
  border-radius: 2px 0px 0px 2px;
  border-right-width: 0;
}

.candidate-page-button-next {
  border-radius: 0px 2px 2px 0px;
}

.candidate-page-button-icon {
  icon-size: 1em;
}

.framed-user-icon {
  background-size: contain;
  border: 0px solid transparent;
  color: #babaab;
  border-radius: 2px;
}
.framed-user-icon:hover {
  border-color: transparent;
  color: #fdfdfd;
}

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}

.login-dialog {
  border: none;
  background-color: transparent;
}
.login-dialog .modal-dialog-button-box {
  spacing: 3px;
}
.login-dialog .modal-dialog-button {
  padding: 3px 18px;
}
.login-dialog .modal-dialog-button:default {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #babaab;
  background-color: #08111C;
  border: 1px solid #08111C;
  box-shadow: inset 0 1px rgba(8, 17, 28, 0.05);
}
.login-dialog .modal-dialog-button:default:hover, .login-dialog .modal-dialog-button:default:focus {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #babaab;
  background-color: #0e1d30;
  border: 1px solid #08111C;
  box-shadow: inset 0 1px rgba(14, 29, 48, 0.05);
}
.login-dialog .modal-dialog-button:default:active {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: #141414;
  background-color: #b0b0b0;
  border: 1px solid #08111C;
  box-shadow: inset 0 1px rgba(176, 176, 176, 0.05);
}
.login-dialog .modal-dialog-button:default:insensitive {
  text-shadow: 0 1px rgba(8, 17, 28, 0);
  color: rgba(186, 186, 171, 0.45);
  border: 1px solid rgba(8, 17, 28, 0.55);
  background-color: rgba(8, 17, 28, 0.55);
  box-shadow: inset 0 1px rgba(8, 17, 28, 0.05);
}

.login-dialog-logo-bin {
  padding: 24px 0px;
}

.login-dialog-banner {
  color: #979797;
}

.login-dialog-button-box {
  spacing: 5px;
}

.login-dialog-message-warning {
  color: #F27835;
}

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px;
}

.login-dialog-user-selection-box {
  padding: 100px 0px;
}
.login-dialog-user-selection-box .login-dialog-not-listed-label {
  padding-left: 2px;
}
.login-dialog-not-listed-button:focus .login-dialog-user-selection-box .login-dialog-not-listed-label, .login-dialog-not-listed-button:hover .login-dialog-user-selection-box .login-dialog-not-listed-label {
  color: #b0b0b0;
}

.login-dialog-not-listed-label {
  font-size: 90%;
  font-weight: bold;
  color: #babaab;
  padding-top: 1em;
}

.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}

.login-dialog-user-list {
  spacing: 12px;
  padding: 0.2em;
  width: 23em;
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
  background-color: #b0b0b0;
  color: #141414;
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:focus StLabel, .login-dialog-user-list:expanded .login-dialog-user-list-item:focus StIcon {
  color: inherit;
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
  border-right: 2px solid #b0b0b0;
}

.login-dialog-user-list-item {
  border-radius: 5px;
  padding: 0.2em;
  color: #646464;
}
.login-dialog-user-list-item:ltr {
  padding-right: 1em;
}
.login-dialog-user-list-item:rtl {
  padding-left: 1em;
}
.login-dialog-user-list-item:hover {
  background-color: #b0b0b0;
  color: #141414;
}
.login-dialog-user-list-item .login-dialog-timed-login-indicator {
  height: 2px;
  margin: 2px 0 0 0;
  background-color: #b0b0b0;
}
.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
  background-color: #141414;
}

.login-dialog-username,
.user-widget-label {
  color: #babaab;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.user-widget-label:ltr {
  padding-left: 18px;
}
.user-widget-label:rtl {
  padding-right: 18px;
}

.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em;
}

.login-dialog-prompt-label {
  color: #7d7d7d;
  font-size: 110%;
  padding-top: 1em;
}

.login-dialog-session-list-button StIcon {
  icon-size: 1.25em;
}

.login-dialog-session-list-button {
  color: #646464;
}
.login-dialog-session-list-button:hover, .login-dialog-session-list-button:focus {
  color: #b0b0b0;
}
.login-dialog-session-list-button:active {
  color: #313131;
}

.screen-shield-arrows {
  padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
  color: white;
  width: 80px;
  height: 48px;
  -arrow-thickness: 12px;
  -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.screen-shield-clock {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5em;
}

.screen-shield-clock-time {
  font-size: 72pt;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.screen-shield-clock-date {
  font-size: 28pt;
}

.screen-shield-notifications-container {
  spacing: 6px;
  width: 30em;
  background-color: transparent;
  max-height: 500px;
}
.screen-shield-notifications-container .summary-notification-stack-scrollview {
  padding-top: 0;
  padding-bottom: 0;
}
.screen-shield-notifications-container .notification,
.screen-shield-notifications-container .screen-shield-notification-source {
  padding: 12px 6px;
  border: 1px solid rgba(176, 176, 176, 0.2);
  background-color: rgba(8, 17, 28, 0.45);
  color: #b0b0b0;
  border-radius: 4px;
}
.screen-shield-notifications-container .notification {
  margin-right: 15px;
}

.screen-shield-notification-label {
  font-weight: bold;
  padding: 0px 0px 0px 12px;
}

.screen-shield-notification-count-text {
  padding: 0px 0px 0px 12px;
}

#panel.lock-screen {
  background-color: rgba(8, 17, 28, 0.5);
}

.screen-shield-background {
  background: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#lockDialogGroup {
  background: #2e3436 url(misc/noise-texture.png);
  background-repeat: repeat;
}

#screenShieldNotifications StButton#vhandle, #screenShieldNotifications StButton#hhandle {
  background-color: rgba(8, 17, 28, 0.3);
}
#screenShieldNotifications StButton#vhandle:hover, #screenShieldNotifications StButton#vhandle:focus, #screenShieldNotifications StButton#hhandle:hover, #screenShieldNotifications StButton#hhandle:focus {
  background-color: rgba(8, 17, 28, 0.5);
}
#screenShieldNotifications StButton#vhandle:active, #screenShieldNotifications StButton#hhandle:active {
  background-color: rgba(176, 176, 176, 0.5);
}

#LookingGlassDialog {
  spacing: 4px;
  padding: 8px 8px 10px 8px;
  background-color: #08111C;
  border: 1px solid #010304;
  border-radius: 4px;
  color: #babaab;
}
#LookingGlassDialog > #Toolbar {
  padding: 3px;
  border: none;
  background-color: transparent;
  border-radius: 0px;
}
#LookingGlassDialog .labels {
  spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  font-weight: bold;
  color: #b0b0b0;
  transition-duration: 100ms;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
#LookingGlassDialog .notebook-tab:hover {
  color: white;
  text-shadow: black 0px 2px 2px;
}
#LookingGlassDialog .notebook-tab:selected {
  border-bottom-width: 0px;
  color: #b0b0b0;
  text-shadow: black 0px 2px 2px;
}
#LookingGlassDialog StBoxLayout#EvalBox {
  padding: 4px;
  spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
  spacing: 4px;
}

.lg-dialog StEntry {
  caret-color: #141414;
  selection-background-color: #b0b0b0;
  selected-color: #141414;
  color: #b0b0b0;
  background-color: rgba(33, 70, 115, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.lg-dialog StEntry:focus {
  color: #141414;
  background-color: #b0b0b0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  selection-background-color: #141414;
  selected-color: #b0b0b0;
}
.lg-dialog .shell-link {
  color: #e3e3e3;
}
.lg-dialog .shell-link:hover {
  color: #fdfdfd;
}

.lg-completions-text {
  font-size: 0.9em;
  font-style: italic;
}

.lg-obj-inspector-title {
  spacing: 4px;
}

.lg-obj-inspector-button {
  border: 1px solid gray;
  padding: 4px;
  border-radius: 4px;
}
.lg-obj-inspector-button:hover {
  border: 1px solid #ffffff;
}

#lookingGlassExtensions {
  padding: 4px;
}

.lg-extensions-list {
  padding: 4px;
  spacing: 6px;
}

.lg-extension {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  background-color: rgba(8, 17, 28, 0.95);
  padding: 4px;
}

.lg-extension-name {
  font-weight: bold;
}

.lg-extension-meta {
  spacing: 6px;
}

#LookingGlassPropertyInspector {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid grey;
  border-radius: 2px;
  padding: 6px;
}
